.Block {
  width: calc(100% - 160px);
  min-height: 100vh;
  position: relative;

  .wrapper {
    padding: 20px 70px;
    margin-bottom: 100px;

    .blocknum {
      color: var(--point-color);
    }
  }
}

.wrapper {
  padding: 20px 70px;
  margin-bottom: 100px;

  .subTitle {
    margin-bottom: 30px;

    .subBar {
      color: #4669f5;
      font-weight: bold;
    }
  }

  .tableRow {
    cursor: pointer;
    color: #3d3d3d;

    .blue {
      color: var(--point-color);
    }
  }

  .pagenationDIV {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-bottom: 10px;
    // justify-content: space-between;

    .tablePagenation {
      // justify-self: flex-start;
      display: inline-block;
    }

    .pagenation {
      display: inline-block;
      align-self: center;
      justify-self: flex-start;
    }
  }
}
