@import "./../../../index.css";
.ant-btn-primary {
  background-color: var(--point-color);
}
.ant-btn > span {
  color: white;
}
// .ant-btn {
// font-size: 15px;
//   height: 32px;
//   padding: 4px 15px;
//   border-radius: 6px;
// font-family: "Noto Sans KR", sans-serif;
// }
path {
  color: var(--point-color);
}
