:where(.css-dev-only-do-not-override-k83k30).ant-btn-primary {
  color: aliceblue;
  background-color: aqua;
}
.ant-btn-primary {
  color: aliceblue;
  background-color: aqua;
}
:where(.css-dev-only-do-not-override-k83k30).ant-btn {
  // font-size: 14px;
  font-size: 40px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
}
botton:hover {
  color: aliceblue;
}
