.ActiveNetwork {
  a {
    background-color: #fff7ec;

    .Dashboard_title,
    .Dashboard_data {
      color: #c08728;

      span {
        color: var(--light-grey-color);
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .Dashboard_icon {
    background-color: #c08728;
  }
}
