.ActiveNetwork {
  a {
    background-color: #fff7ec;

    .Dashboard_title,
    .Dashboard_data {
      color: #c08728;
    }
  }

  .Dashboard_icon {
    background-color: #c08728;
  }
}
