.TotalTransaction {
  a {
    background-color: #fff6fb;

    .Dashboard_title,
    .Dashboard_data {
      color: #cc2c85;
    }
  }

  .Dashboard_icon {
    background-color: #cc2c85;
  }
}
