.TotalBlock {
  a {
    background-color: #eef5ff;

    .Dashboard_title,
    .Dashboard_data {
      color: #2965ba;
    }
  }

  .Dashboard_icon {
    background-color: #2965ba;
  }
}
