.TotalService {
  a {
    background-color: #e4fbf8;

    .Dashboard_title,
    .Dashboard_data {
      color: #40b4a4;
    }
  }

  .Dashboard_icon {
    background-color: #40b4a4;
  }
}
