// .MyInfoPage {
// margin: 0 auto;
// justify-content: center;
// align-items: center;
// }
.MyInfoPage {
  text-align: center;
  margin: 0 auto;
}
.MyInfoPage_top {
  display: flex;
}
.MyInfoPage_top_right {
  text-align: left;
}
