.Wrap {
    display: flex;
    flex-wrap: wrap;

    .ChartVol {
        width : 520px;
        height : 360px;
        margin: 12px;
        padding-top: 15px;
        box-shadow: 0 0 20px 0 rgba(136, 136, 136, 0.15);
      }
}