.TranMain {
  width: calc(100% - 160px);
  min-height: 100vh;
  position: relative;

  .subTitle {
    margin-bottom: 30px;

    .subBar {
      color: #4669f5;
      font-weight: bold;
    }
  }
  .chartWrapper {
    clear: both;
    display: flex;
    flex-direction: row wrap;
    .pagenationDIV {
      display: flex;
      justify-content: space-between;

      .pagenation {
        // display: inline-block;
        align-self: center;
        justify-self: center;
        margin-right: 100px;
      }

      .tablePagenation {
        // display: inline-block;

        justify-self: flex-end;
      }
    }
  }
}
