.chartWrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  border-radius: 5px;

  .chart {
    // background-color: #fff;
    // box-shadow: var(--box-shadow);
    border-radius: 5px;
  }
}
