.UserUpdate {
  padding: 40px;
  padding-left: 70px;
  padding-right: 70px;
  // h1 {
  //   margin-bottom: 40px;
  // }
  // .ant-modal .ant-modal-content {
  //   width: fit-content;
  // }
  form {
    width: 500px;
    botton {
      margin-right: 100px;
    }
  }
  .UserAdd_footer {
    // width: 330px;
    display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    padding-left: 60px;
    button {
      margin-left: 30px;
    }
  }
}

.ant-form-item {
  margin-bottom: 20px;
}
.MyInfoPage_top {
  display: flex;
  margin-bottom: 30px;
  .MyInfoPage_top_right {
    text-align: left;
    margin-left: 10px;
  }
}
.UserUpdate h1 {
  margin-bottom: 0px;
}
