.Dashboard {
  width: calc(100% - 160px);
  position: relative;
  padding-top: 65px;
  padding-bottom: 136px;

  .DashboardInfo {
    width: 1002px;
    height: 826px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Dashboard_title {
      font-weight: bold;
      font-size: 16px;
      letter-spacing: -1.2px;
    }

    //////////////////// Dashboard_container1 ////////////////////
    .Dashboard_container1 {
      width: 1002px;
      height: 178px;
      display: flex;
      justify-content: space-between;

      > div {
        width: 245px;
        height: 100%;
        position: relative;

        // 전체 블록 수
        &.TotalBlock {
          a {
            background-color: #eef5ff;

            .Dashboard_title,
            .Dashboard_data {
              color: #2965ba;
            }
          }

          .Dashboard_icon {
            background-color: #2965ba;
          }
        }

        // 전체 트랜잭션 수
        &.TotalTransaction {
          a {
            background-color: #fff6fb;

            .Dashboard_title,
            .Dashboard_data {
              color: #cc2c85;
            }
          }

          .Dashboard_icon {
            background-color: #cc2c85;
          }
        }

        // 활성 네트워크 수
        &.ActiveNetwork {
          a {
            background-color: #fff7ec;

            .Dashboard_title,
            .Dashboard_data {
              color: #c08728;

              span {
                color: var(--light-grey-color);
                font-size: 20px;
                font-weight: bold;
              }
            }
          }

          .Dashboard_icon {
            background-color: #c08728;
          }
        }

        // 전체 서비스 등록 건수
        &.TotalService {
          a {
            background-color: #e4fbf8;

            .Dashboard_title,
            .Dashboard_data {
              color: #40b4a4;
            }
          }

          .Dashboard_icon {
            background-color: #40b4a4;
          }
        }

                a {
                    width: 240px;
                    height: 170px;
                    text-decoration: none;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border-radius: 10px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    .Dashboard_data {
                        font-size: 36px;
                        font-weight: bold;
                    }

                    .Dashboard_time {
                        font-size: 13px;
                        color: var(--light-grey-color);
                    }
                }

                .Dashboard_icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 5px solid #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    //////////////////// Dashboard_container2 ////////////////////
    .Dashboard_container2 {
      width: 1000px;
      height: 590px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 50px 50px;

            > div {
                width: 475px;
                height: 270px;
                position: relative;
                border-radius: 10px;
                background-color: #ffffff;
                box-shadow: var(--box-shadow);

        // 네트워크별 블록 생성시간
        &.NtwCreateBlock {
          .Dashboard_seconds {
            color: var(--point-color);
            font-size: 40px;
            height: 70px;
            line-height: 70px;
          }
          .Dashboard_chart {
            height: 155px !important;
          }
        }
      }

      // 각 차트박스
      a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .Dashboard_title {
          padding-top: 18px;
        }

        .Dashboard_chart {
          width: 90%;
          height: 210px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
