.Transaction {
  width: calc(100% - 160px);
  min-height: 100vh;
  position: relative;
  margin: 0;
  .TranMain {
    .wrapper {
      padding: 20px 70px;
      margin-bottom: 100px;

    .txnum {
      color: var(--point-color);
    }
      .subTitle {
        margin-bottom: 30px;

        .subBar {
          color: #4669f5;
          font-weight: bold;
        }
      }
      .chartWrapper {
        clear: both;
        display: flex;
        flex-direction: row wrap;
        justify-content: space-around;
        margin-bottom: 30px;

        }
      }
      
      .pagenationDIV {
        display: flex;
        justify-content: space-between;

          .pagenation {
            align-self: center;
            justify-self: center;
            margin-right: 100px;
          }

        .tablePagenation {
          justify-self: flex-end;
        }
      .tableWrapper {
        font-family:  "Noto Sans KR", sans-serif;
      }
    }
  }
}
