* {
  text-align: start;
}
.input_password_box {
  .input_password {
    width: calc(100% - 80px);
  }
}
.ant-form-item-control-input-content button {
  width: 70px;
  height: 100%;
  margin-left: 10px;
  padding: 0;
  text-align: center;
}
